# Port number for Express server
PORT=5000

# MongoDB Atlas connection string (Replace with your actual database user, password, and cluster details)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/student_db?retryWrites=true&w=majority

# Secret key used for signing and verifying JSON Web Tokens (JWT)
JWT_SECRET=mysecretkey12345
